#innards{
	position: relative;
 	width: 350px;
 	border: 2px solid white;
 	border-radius: 12px;
 	margin: 0px auto;
 	padding: 20px 20px 100px 20px
}

html {
	font: arial;
	text-shadow: 2px 2px 4px #000000;
}

body {
	background-image: linear-gradient(to left, purple, pink);
	display: grid;
 	height: 50%;
}

input[type=button] {
 	background-color: transparent;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 90%;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
}
input[type=button]:active {
 	box-shadow: 0 5px #666;
 	transform: translateY(4px);
}
input[type=button]:hover {
 	background-color: pink;
 	color: black;
}
/*This is for the actual screen of the calculator*/
input[type = text] {
 	position: relative;
 	display: block;
 	background-color: transparent;
 	width: 90%;
 	margin: 5%;
 	font-size: 20px;
 	padding: 10px;
 	border-width: 1px;
 	border-style: solid;
 	border-color: white;
 	color: white;
 	border-radius: 5px;
 	animation-name: bounceInDown;
}
.calculator.display.value {
	animation-name: bounceInDown;
}

/*Shameless self-promotion*/
p {
	font-family: arial;
	color: white;
}
a {
	font-family: arial;
	color: white;
}